# Ignore large local data files
data/*.csv
*.db

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
